.navBar {
  height: 100%;
  width: 150px;
  background-color: #1b242f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  box-shadow: 1px 1px 4px #1b242f;
}

.navBar img {
  width: 100px;
  height: 100px;
}

.navBar ul {
  list-style-type: none;
  padding: 0px;
}

.navBar ul li {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 70px;
}

.navBar ul li .link {
  color: #f5f5f5;
  display: block;
  text-decoration: none;
  transition: all 200ms;
}

.navBar .icon {
  color: #04c2c9;
  font-size: 20px;
}

.navBar ul li .link:hover {
  color: #04c2c9;
  transform: scale(1.2, 1.2);
}

.navBar ul li .link:hover .icon {
  color: #e31b6d;
  transform: scale(1.2, 1.2);
}

@media (max-width: 370px) {
  .navBar {
    width: 100px;
    padding-left: 10px;
  }
  .navBar img {
    width: 70px;
    height: 70px;
  }
  .link {
    font-size: 0;
  }
}
